<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
        chart: { renderTo: 'events_chart' },
        title: { text: '' },
        xAxis: { type: 'datetime' },
        yAxis: {
          title: { text: 'Event Count' },
          min: 0,
          tickInterval: 1
        },
        series:[
            {
                name: "All Events",
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= @start_date.to_time.to_i * 1000 %>,
                pointEnd: <%= @end_date.to_time.to_i * 1000 %>,
                data: <%= (@start_date..@end_date).map { |date| @events.reported_on(date).count}.inspect %>
            },
            <% @events.status_hash.each do |name, event| %>
            {
              name: "<%= name %>",
              pointInterval: <%= 1.day * 1000 %>,
              pointStart: <%= @start_date.to_time.to_i * 1000 %>,
              pointEnd: <%= @end_date.to_time.to_i * 1000 %>,
              data: <%= (@start_date..@end_date).map { |date| event.reported_on(date).count}.inspect %>
            },
            <% end %>]
          });
        });
</script>

<div class="span12">
  <h2><%= @service.name %></h2>
  <p>
    <%= users_subscribed_to(@service) %>
  <p>
  <% if current_user.is_subscribed_to? @service %>
    <label id="alert_me">Please don't alert me about this service</label>
    <%= render "subscriptions/unsubscribe", :service_id => @service.id %>
  <% else %>
    <label id="alert_me">Alert me about this service</label>
    <%= render "subscriptions/subscribe", :service_id => @service.id %>
  <% end %>
  <hr>
  
  <% unless params[:page] %>
    
    Events Chart
    
    <div class="row">
      <div class="row">
        <div class="span12">
          <div id="events_chart" class="span12 well"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12 well">
        <%= form_tag @service, :class => 'form-horizontal', :method => 'get' do %>
          <p>
            <%= text_field_tag :start_date, params[:start_date], :placeholder => "Start Date" %>
          </p>
          <p>
            <%= text_field_tag :end_date, params[:end_date], :placeholder => "End Date" %>
          </p>
          <p>
            <%= submit_tag "Generate Chart", :name => nil, :class => 'btn btn-primary' %>
          </p
        <% end %>
      </div>
    </div>
    
  <% end %>
  
  <div class="span12">
    <div class="h2">
      Past Events
    </div>
    
    <div id="events">
      <%= render @events %>
    </div>
    
    <%= will_paginate @events %>
  </div>
</div>