<div class="span12">
  <h2><%= @service.name %></h2>
  <p>
    <%= users_subscribed_to(@service) %>
  <p>
  <% if current_user.is_subscribed_to? @service %>
    <label id="alert_me">Please don't alert me about this service</label>
    <%= render "subscriptions/unsubscribe", :service_id => @service.id %>
  <% else %>
    <label id="alert_me">Alert me about this service</label>
    <%= render "subscriptions/subscribe", :service_id => @service.id %>
  <% end %>
  <hr>
  
  <div class="span12">
    <div class="h2">
      Past Events
    </div>
    
    <div id="events">
      <%= render @events %>
    </div>
    
    <%= will_paginate @events %>
  </div>
</div>