<div class="span12">  
  <div id="new_session" class="well">
    <h2>Please Login</h2>
    <%= form_tag sessions_path do %>
      <div class="control-group">
        <div class="control-label">
          <%= label_tag :login, "Username", :class => "control-label" %>
        </div>
        <div class="controls">
          <%= text_field_tag :login, params[:login] %>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">
          <%= label_tag :password, "Password", :class => "control-label" %>
        </div>
        <div class="controls">
          <%= password_field_tag :password %>
        </div>
      </div>
      <div class="control-group">   
        <label>Remember me</label> 
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      </div>
      <div class="control-group">
        <div class="control-label">
          <label>Forgot your password?</label>
        </div>
        <div class="controls">
          <span class="small">Click <%= link_to "here", new_password_reset_path %> to reset it</span>
        </div>
      </div>
      <div class="actions" style="text-align:center">
        <%= submit_tag "Log in", :class => 'btn' %>
      </div>
    <% end %>
  </div>
</div>