<div class="comment">

  <h4><%= link_to comment.user.username, comment.user %></h4>
  <p class="muted"><%= time_ago_in_words(comment.created_at).capitalize %> ago</p>
  <p><%= markdown comment.content %></p>

  <div class="actions pull-right">
    <ul>
      <% if allow? "comments", "edit", comment %>
        <li>
          <%= link_to 'Edit', edit_comment_path(comment) %>
        </li>
      <% end %>
      <% if allow? "comments", "delete", comment %>
        <li>
          <%= link_to 'Delete', comment, method: :delete, 
              data: { confirm: "Are you sure?" }, 
              class: "danger" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="clearfix"></div>

</div>