<div class="comment">
  <p>
    <%= link_to comment.user.username, comment.user %>
    (<%= time_ago_in_words(comment.created_at).capitalize %> ago)
  </p>
  <p><%= comment.content %></p>
  <div class="actions pull-right">
    <ul>
    <% if allow? "comments", "edit", comment %>
      <li><%= link_to 'Edit Comment', edit_comment_path(comment) %></li>
    <% end %>
    <% if allow? "resolutions", "destroy", comment %>
      <li><%= link_to 'Destroy', comment, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger" %></li>
    <% end %>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>