<div class="comment">
  <p>
    <%= link_to comment.user.username, comment.user, :style => 'link-large' %>
    <span class="small" style="color:gray">( <%= time_ago_in_words(comment.created_at).capitalize %> ago )</span>
    </p>
    <p>
      <%= comment.content %>
    </p>
  <div class="pull-right">
    <% if allow? "comments", "edit", comment %>
      <%= link_to 'Edit Comment', edit_comment_path(comment), :class => "nav small" %>
    <% end %>
    <% if allow? "resolutions", "destroy", comment %>
      <%= link_to 'Destroy', comment, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "nav small danger" %>
    <% end %>
  </div>
</div>