<div class="row">
  <div class="span4 offset4 well">
    <%= form_for @status do |f| %>
      <%= error_messages_for @status %>
      <p>
        <%= f.label :value, "Status Name" %>
        <%= f.text_field :value, :value => ( @status.value.blank? ? "" : "#{@status.value.capitalize}" ) %>
      </p>
      <p>
        <%= f.label :foreground_color, "Text Color" %>
        <%= f.select :foreground_color, [ "Black", "White" ] %>
      </p>
      <p style="margin-bottom:3em;">
        <%= f.label :background_color %>
        <%= f.select :background_color, Status.colors %>
      </p>
      <p>
        <%= f.label :include_in_calc, "Include This Status Type In Uptime Calculations?" %>
        <label class="radio inline">
          <%= f.radio_button :include_in_calc, :true %> Yes
        </label>
        <label class="radio inline">
          <%= f.radio_button :include_in_calc, :false %> No
        </label>
      <p>
        <%= f.submit :class => "btn" %>
      </p>
    <% end %>
  </div>
</div>