<div class="row">
  <div class="span4 offset4">
    <%= form_for @status do |f| %>
      <% if @status.new_record? || @status.value != "Outage" %>
        <p>
          <%= f.label :value, "Status Name" %>
          <%= f.text_field :value %>
        </p>
      <% end %>
      <p>
        <%= f.label :foreground_color, "Text Color" %>
        <%= f.select :foreground_color, [ "Black", "White" ] %>
      </p>
      <p style="margin-bottom:3em;">
        <%= f.label :background_color %>
        <%= f.select :background_color, Status.colors %>
      </p>
      <p>
        <%= f.submit :class => "btn" %>
      </p>
    <% end %>
  </div>
</div>