<div class="row well">
  <div class="span3 status">
    <div class="event_status-small" style="background-color:<%= status.background_color %>;color:<%= status.foreground_color %>">
      <%= status.value.capitalize %>
    </div>
    <br>
    <p>
      <%= link_to "View Problems With This Status", status, :class => "small" %>
    </p>
  </div>
  <div class="span2">
    <label>
      Problems Reported With This Status:
    </label>
    <p style="font-size:3em; font-weight:bold;"><%= status.events.count %></p>
    <hr>
    <% if allow? "statuses", "edit" %>
      <%= link_to "Edit", edit_status_path(status), :class => "btn" %>
    <% end %>
  </div>
</div>