<div class="row well">
  <div class="span2">
    <div class="event_status-small" style="background-color:<%= status.background_color %>;color:<%= status.foreground_color %>">
      <%= status.value.capitalize %>
    </div>
    <p>
      <%= link_to "View Problems With This Status", status %>
    </p>
  </div>
  <div class="span2">
    <label>
      Problems Reported With This Status:
    </label>
    <p style="font-size:3em; font-weight:bold;"><%= status.events.count %></p>
  </div>
  <div class="span1" style="padding-top:50px; padding-left:25px;">
    <%= link_to "Edit", edit_status_path(status), :class => "btn" %>
  </div>
</div>