<%= form_for @task do |f| %>
  <%= error_messages_for @task %>
  
  <div class="field">
    <%= f.label :name, "Task Name" %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :description, "Task Description" %>
    <%= f.text_area :description, :rows => 5 %>
  </div>
  
  <div class="field">
    <%= f.label :assigned_user_ids, "Assign one or more people to this task" %>
    <%= f.collection_select :assigned_user_ids, User.order(:username), :id, :username, {}, {multiple: true} %>
  </div>
  
  <br />
  
  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
  
<% end %>