<h1>Tasks</h1>

<% if allow? "tasks", "create" %>
  <h4><%= link_to "Create a new task", new_task_path %></h4>
<% end %>

<br />

<div class="actions">
  <ul>
    <li><%= link_to "All Tasks", tasks_path %></li>
    <li><%= link_to "Uncompleted", uncompleted_tasks_path %></li>
    <li><%= link_to "Unassigned", unassigned_tasks_path %></li>
  </ul>
</div>

<% if @tasks.empty? %>
  <p>Currently, there are no tasks to display.</p>
<% end %>

<br />
  
<%= render @tasks %>
<%= will_paginate @tasks %> 