<div class="heading">
<h1>Tasks</h1>
<ul>
  <li><%= link_to "All Tasks", tasks_path %></li>
  <li><%= link_to "My Tasks", tasks_path(:filter => :my_tasks)%></li>
  <li><%= link_to "Unassigned Tasks", tasks_path(:filter => :unassigned) %></li>
</ul>
<% if @tasks.empty? %>
    <div class="clearfix"></div>
    <h3>Currently, there are no tasks to display. <%= link_to 'Create one.', new_task_path %></h3>
</div>
<% else %>
  <% if allow? "services", "create" %>
    <div class="actions pull-right" style="padding-top:0.5em">
      <%= link_to "Create a new task", new_task_path, :class => "btn btn-large btn-success" %>
    </div>
</div>
<div class="clearfix"></div>
  <% end %>
  <br />
  <%= render @tasks %>
  <%= will_paginate @tasks %> 
<% end %>