<div id="task">
  <h1><%= @task.name %>
    <% if @task.unassigned? %>
      <span class="badge badge-info">Unassigned Task</span>
    <% end %>
    <% if @task.completed? %>
      <span class="badge badge-success">Completed</span>
    <% end %>  
  </h1>
  
  <% unless @task.completed? %>
    <h4><%= link_to "Mark As Completed", new_task_completion_path(@task) %></h4>
  <% end %>
  
  <br />
  
  <p>Created by <%= link_to @task.user.username, @task.user %> on <%= @task.created_at.strftime('%b %e, %Y at %l:%M %p') %></p>
  
  <p class="muted"><%= time_ago_in_words(@task.created_at).capitalize %> ago</p>
  
  <p id="assigned_to" class="muted">
    <%= render :partial => "assignments/assignment", :locals => { :task => @task } %>
  </p>
  
  <p><%= markdown @task.description %></p>
  
  <div class="actions">
    <ul>
      <% if allow? "tasks", "edit" %>
        <li><%= link_to 'Edit', edit_task_path(@task) %></li>
      <% end %>
      <% if allow? "services", "destroy" %>
        <li><%= link_to 'Delete', @task, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger" %></li>
      <% end %>
    </ul>
  </div>
  
  <br />
  
  <% if current_user.has_accepted? @task %>
    <%= render "unaccept", :task_id => @task.id, :assignment => @assignment %>
  <% else %>
    <%= render "accept", :task_id => @task.id %>
  <% end %>
  
  <br />
  
  <h4>Task Notes</h4>
  
  <div class="row">
    <div class="span6">
      <% unless @task.task_notes.empty? %>
        <div id="task_notes">
          <div class="task_note-top"></div>
          <%= render @task.task_notes %>
        </div>
      <% end %>
      <div id="task_note" class="form">
        <%= form_for TaskNote.new do |f| %>
          <%= f.hidden_field :task_id, :value => @task.id %>
          <%= f.text_area :content, :placeholder => "Write a note about this task", :rows => 3 %>
          <div class="actions">
          <%= f.submit "Create Note", :class => 'btn'%>
          </div>
        <% end %> 
      </div>
    </div>     
  </div>
  
  <div id="completion">
    <% if @task.completed? %>
    
        <h3>Completion Details</h3>
        
        <p>Completed by <%= link_to @task.completion.user.username, @task.completion.user %> on <%= @task.completion.created_at.strftime('%b %e, %Y at %l:%M %p') %></p>
        
        <p class="muted">
         <%= time_ago_in_words(@task.completion.created_at).capitalize %> ago
        </p>
        
        <div class="actions">
          <ul>
            <% if allow? "completions", "edit" %>
              <li><%= link_to 'Edit', edit_task_completion_path(@task) %></li>
            <% end %>
            <% if allow? "completions", "destroy" %>
              <li><%= link_to 'Destroy', @task.completion, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger" %></li>
            <% end %>
          </ul>
        </div>
        
        <p><%= markdown @task.completion.description %></p>
        
        <br />
        
    <% end %>
  </div>
</div>