<%= div_for problem do %>
  <h4><%= sites_affected_by problem.event %></h4>
  <p>Duration: <%= distance_of_time_in_words(problem.event.duration) %></p>
  <h4>
    Reported by <%= link_to(problem.user.username, problem.user) %> 
    on <%= long_date problem.reported_at %>
  </h4>
  <p><%= time_ago_in_words(problem.reported_at).capitalize %> ago</p>
  <p><%= markdown problem.description %></p>
<% end %>
