<div id="problem">
  <h3>Problem</h3>
  <p>
    <%= problem_for @event %>
  </p>
  <p>
    <%= markdown @event.problem.description %>
  </p>
  <div class="actions">
    <% if allow? "events", "edit", @event %>
      <%= edit_problem_for(@event) %>
    <% end %>
    <% if allow? "events", "destroy", @event %>
      <%= destroy_action_for(@event) %>
    <% end %>
  </div>
  
  <div id="comment_form">      
    <%= form_for Comment.new do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :commentable_type, :value => @event.problem.class %>
      <%= f.hidden_field :commentable_id, :value => @event.problem.id %>
      <%= f.text_area :content, :placeholder => "Comment on this problem", :rows => 3, :class => "span10" %>
      <%= f.submit "Submit Comment", :class => 'btn', :style => "align:left" %>
    <% end %>       
  </div>
  <% unless @event.problem.comments.empty? %>
    <div id="problem_comments">
      <%= render @event.problem.comments %>
    </div>
  <% end %>
  
</div>