<h1>Server List</h1>
<h3 class="muted">All Servers</h3>

<% cache(action: 'index', action_suffix: 'all_servers') do %>
  <table id="servers" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Public</th>
        <% @networks.each do |network| %>
          <th><%= network.name %></th>
        <% end %>
          <th class="admin"></th>      
          <th class="admin"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @servers.each do |server| %>
        <tr>
          <td><%= link_to server.name, server %></td>
          <td><%= server.role_name %></td>
          <td>
            <% if server.public_ip_address %>
              <%= server.public_ip_address %>
            <% end %>
          </td>
          <% @networks.each do |network| %>
            <td><%= server.send("#{network.name}") || "" %></td>
          <% end %>
          <td class="admin"><%= link_to 'Edit', send("edit_#{server.route}_path", server) %></td>
          <td class="admin"><%= link_to 'Delete', server, method: :delete, data: { confirm: 'Are you sure?' }, :class => "danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<script>
  $('#servers').dataTable({
    "bPaginate": false,
    "aoColumns": [
                    null,
                    null,
                    { "sType": "ip-address" },
                    <% @networks.each do |network| %>
                      { "sType": "ip-address" },
                    <% end %>
                    null,
                    null
                ]
  });
</script>
