<h1>Server List</h1>
<br />

<table id="servers" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <% @networks.each do |network| %>
        <th><%= network.name %></th>
      <% end %>
      <% if allow? "servers", "edit" %>
        <th></th>
      <% end %>
      <% if allow? "servers", "destroy" %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= link_to server.name, server %></td>
        <td><%= server.type.titlecase %></td>
        <% @networks.each do |network| %>
          <td><%= server.send("#{network.name}") || "" %></td>
        <% end %>
        <% if allow? "servers", "edit" %>
          <td><%= link_to 'Edit', send("edit_#{server.type.titlecase.downcase.split(' ').join('_')}_path", server) %></td>
        <% end %>
        <% if allow? "servers", "destroy" %>
          <td><%= link_to 'Delete', server, method: :delete, data: { confirm: 'Are you sure?' }, :class => "danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<script>
  $('#servers').dataTable({
    "bPaginate": false,
    "aoColumns": [
                    null,
                    null,
                    <% @networks.each do |network| %>
                      { "sType": "ip-address" },
                    <% end %>
                    null,
                    null
                ]
  });
</script>
