<div id="new_user" class="span8 offset2 well">
  <%= form_for @user, :html => { :class => "form-horizontal", :style => "text-align:left" } do |f| %>
  
    <%= error_messages_for @user %>
    
    <div class="control-group">
      <%= f.label :username, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :username, :placeholder => "Username" %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password, :placeholder => "Password" %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :password_confirmation, "Confirm Password", :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :first, "First Name", :class => "control-label" %>
      <div class="controls">
      <%= f.text_field :first, :placeholder => "First Name" %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :last, "Last Name", :class => "control-label" %>
      <div class="controls">
      <%= f.text_field :last, :placeholder => "Last Name" %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :phone, "Phone Number", :class => "control-label" %>
      <div class="controls">
      <%= f.text_field :phone, :placeholder => "Phone Number" %>
      </div>
    </div>
    
    
    <div class="control-group">
      <%= f.label :time_zone, :class => "control-label" %>
      <div class="controls">
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
      </div>
    </div>
    
    <fieldset style="text-align:center">
      <%= f.label :emails, "Email Addresses" %>
      <%= f.fields_for :emails do |builder| %>
        <%= render 'email_fields', :f => builder %>
      <% end %>
      <%= link_to_add_fields "Add an email address", f, :emails %>
    </fieldset>
    
    <br />

    
    <div class="control-group" style="text-align:center">
      <%= f.label :service_ids, "Subscriptions" %>
      <%= f.collection_select :service_ids, Service.order(:name), :id, :name, {}, { multiple: true, :style => "width:80%;" } %>
    </div>
    
    <% if current_user.admin? %>
      <p style="text-align:center">
        <%= f.label :admin, "Is This User an Admin?" %>
        <label class="radio inline">
          <% if @user.admin? %>
            <%= f.radio_button :admin, :true, :checked => true %> Yes
          <% else %>
            <%= f.radio_button :admin, :true %> Yes
          <% end %>
        </label>
        <label class="radio inline">
          <% if @user.new_record? || ! @user.admin %>
            <%= f.radio_button :admin, :false, :checked => true %> No
          <% else %>
            <%= f.radio_button :admin, :false %> No
          <% end %>
        </label>
      <p>
    <% end %>

    <div class="actions">
      <%= f.submit (@user.new_record? ? "Sign up" : "Update"), :class => 'btn' %>
    </div>
  <% end %>
</div>