<div id="new_user" class="span6 offset3 well">
  <%= form_for @user, :html => { :class => "form-horizontal", :style => "text-align:left" } do |f| %>
    <p>
      <%= f.label :username %>
      <%= f.text_field :username, :class => 'input-large' %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, :class => 'input-large' %>
    </p>
    
    <%= f.label :emails, "Email Addresses" %>
    <fieldset>
      <%= f.fields_for :emails do |builder| %>
        <%= render 'email_fields', :f => builder %>
      <% end %>
      <%= link_to_add_fields "Add an email address", f, :emails %>
    </fieldset>
    <p>
      <%= f.label :service_ids, "Subscriptions" %>
      <%= f.collection_select :service_ids, Service.order(:name), :id, :name, {}, {multiple: true} %>
    </p>
    <div class="actions">
      <%= f.submit (@user.new_record? ? "Sign up" : "Update"), :class => 'btn' %>
    </div>
  <% end %>
</div>