<%= form_for @user, :html => { :class => "form-horizontal" } do |f| %>
  
  <%= error_messages_for @user %>
  
  <div class="control-group">
    <%= f.label :username, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :username, :placeholder => "Username", :autocomplete => "off" %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :placeholder => "Password", :autocomplete => "off" %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :password_confirmation, "Confirm Password", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :first, "First Name", :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :first, :placeholder => "First Name" %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :last, "Last Name", :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :last, :placeholder => "Last Name" %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :phone, "Phone Number", :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :phone, :placeholder => "Phone Number" %>
    </div>
  </div>
  
  
  <div class="control-group">
    <%= f.label :time_zone, :class => "control-label" %>
    <div class="controls">
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
    </div>
  </div>
  
  <fieldset>
    <%= f.label :emails, "Email Addresses" %>
    <%= f.fields_for :emails do |builder| %>
      <%= render 'email_fields', :f => builder %>
    <% end %>
    <%= link_to_add_fields "Add an email address", f, :emails %>
  </fieldset>
  
  <br />
  
  <div class="control-group">
    <%= f.label :site_ids, "Subscriptions" %>
    <%= f.collection_select :site_ids, Site.order(:name), :id, :name, {}, { multiple: true, :style => "width:100%;" } %>
  </div>
  
  <% if current_user.admin? %>
    <div class="field">
      <%= f.label :admin, "Is this user an admin?" %>
      <label class="radio inline">
        <% if @user.admin? %>
          <%= f.radio_button :admin, :true, :checked => true %> Yes
        <% else %>
          <%= f.radio_button :admin, :true %> Yes
        <% end %>
      </label>
      <label class="radio inline">
        <% if @user.new_record? || ! @user.admin %>
          <%= f.radio_button :admin, :false, :checked => true %> No
        <% else %>
          <%= f.radio_button :admin, :false %> No
        <% end %>
      </label>
    </div>
  <% end %>

  <br />
  
  <div class="actions">
    <%= f.submit (@user.new_record? ? "Create Account" : "Update Account"), :class => 'btn' %>
  </div>
  
<% end %>