<tr>
  <td><%= link_to user.username, user %></td>
  <td><%= time_ago_in_words(user.created_at).capitalize %> ago</td>
  <td><%= user.problems.count %></td>
  <td><%= user.resolutions.count %></td>
  <td><%= user.subscriptions.count %></td>
  <% if allow? "users", "edit" %>
    <td><%= link_to "Edit", edit_user_path(user), :class => "small" %></td>
  <% end %>
  <% if allow? "users", "destroy" %>
    <td><%= link_to "Destroy", user, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "small danger" %></td>
  <% end %>
</tr>