<div class="user">
  <div class="pull-left">
    <p id="username"><%= link_to user.username, user %>
       <span class="muted small">(since <%= short_date(user.created_at) %>)</span>
    </p>
    <p>
      Email addresses: <%= user.emails.map { |email| email.address }.join(", ") %>
    </p>
  </div>
  <div class="pull-right">
    <% if allow? "users", "edit" %>
      <%= link_to "Edit", edit_user_path(user), :class => "small" %>
    <% end %>
    <% if allow? "users", "destroy" %>
      <%= link_to "Destroy", user, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "small danger" %>
    <% end %>
  </div>
  <div style="clear:both"></div>
</div>