<h1><%= @user.full_name %></h1>
<h3><%= @user.admin? ? "Admin" : "User" %></h3>

<div class="admin actions">
  <ul>
    <li><%= link_to 'Edit', edit_user_path(@user) %></li>
    <li>
      <%= link_to 'Delete', @user, method: :delete, 
          data: { confirm: "Are you sure?" }, class: "danger" %>
     </li>
  </ul>
</div>

<br />

<hr>

<h3>User Details</h3>

<h4>Email Address</h4>
<p><%= @user.email_address %></p>
<br />

<h4>Time Zone</h4> 
<p><%= @user.time_zone %></p>
<br />

<h4>Subscriptions</h4>
<p><%= subscriptions_for @user %></p>
<br />
