<%= div_for event do %>
  <div class="row">
    <div class="span6">
      <h2 style="color:<%= event.status.text_color %>"><%= event.status.value %></h2>
      <%= resolution_for(event.resolution, "small") if event.resolved? %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <%= div_for event.problem do %>
        <h3><%= sites_affected_by event %></h3>
        <p class="muted">Duration: <%= distance_of_time_in_words(event.duration) %></p>
        <p class="muted"><%= problem_for event %></p>
        <p><%= markdown event.problem.description %></p>
        <p class="muted"><%= pluralize event.problem.comments.count, "comment" %></p>
        <h4><%= link_to 'View this event', event %></h4>
      <% end %>
    </div>
  </div>
<% end %>

<hr>