<div class="event">
  <div class="row">
    <div class="span3">
      <div class="event_status-small <%= event.status.value %>">
        <%= event.status.value %>
      </div>
      <% if event.resolved? %>
        <div id="event_closed-small">
          <%= resolution_for event %>
        </div>
      <% end %>
    </div>
    <div class="span9">
      <div class="description">
        <p>
          <%= problem_for event %>
        </p>
        <p> 
          <%= services_affected_by event %>
        </p>
        <p>
          <%= event.problem.description %>
        </p>
        <p>
          <%= link_to 'View this event', event, :class => 'small' %>
        </p>
      </div>
    </div>
  </div>
</div>