<div class="event">
  <div class="row">
    <div class="span3">
      <div class="event_status-small" style="background-color:<%= event.status.background_color %>;color:<%= event.status.foreground_color %>">
        <%= event.status.value %>
      </div>
      <% if event.resolved? %>
        <div id="resolved_by-small">
          <%= resolution_for event %>
        </div>
      <% end %>
    </div>
    <div class="span9">
      <div class="description">     
        <p class="subtle"> 
          <%= services_affected_by event %>
        </p>
        <p class="subtle">
          <%= problem_for event %>
        </p>
        <p>
          <%= markdown event.problem.description %>
        </p>
        <p>
          <%= link_to 'View this event', event, :class => 'small' %>
        </p>
      </div>
    </div>
  </div>
</div>