<div class="event">
  <div class="row">
    <div class="span3">
      <div class="event_status-small <%= event.status %>">
        <%= event.status %>
      </div>
      <% if event.resolved? %>
        <div id="event_closed-small">
          <%= resolved_for event %>
        </div>
      <% end %>
    </div>
    <div class="span9">
      <div class="description">
        <p>
          <%= reported_for event %>
        </p>
        <p> 
          <%= services_affected_by event %>
        </p>
        <p>
        <%= event.description %>
        </p>
      </div>
      <p>
        <%= link_to 'View this event', event %>
      </p>
    </div>
  </div>
</div>