<%= div_for event do %>
  <div class="row">
    <div class="span12">
      <%= render partial: "events/event_description", locals: { event: event } %>
      <%= render partial: "problems/problem_description", locals: { problem: event.problem } %>
      <h5 class="muted"><%= pluralize event.problem.comments.count, "comment" %></h5>
      <h4><%= link_to 'View this event', event %></h4>
    </div>
  </div>
  <hr>
<% end %>
