<%= form_for @event, :html => { :class => "well"} do |f| %>
  <p>
    <%= f.label :status_id, 'What kind of problem is this?' %>
    <%= f.collection_select :status_id, Status.all, :id, :value %>
  </p>
  
  <%= f.fields_for :problem do |builder| %>
    <%= render 'problems/problem_fields', :f => builder, :locals => { :event => @event } %>
  <% end %>
  
  <p>
    <%= f.label :service_ids, "This issue affects the following services:" %>
    <%= f.collection_select :service_ids, Service.order(:name), :id, :name, {}, {multiple: true, style: "width:60%"} %>
  </p>
  
  <div class="actions link-large">
    <%= f.submit :class => 'btn' %>
  </div>
<% end %>