<%= form_for @event do |f| %>

  <%= error_messages_for @event.problem %>
  
  <p>
    <%= f.label :status_id, 'What kind of event is this?' %>
    <%= f.collection_select :status_id, Status.all, :id, :value_for_select %>
  </p>
  
  <%= f.fields_for :problem do |builder| %>
    <%= render :partial => 'problems/problem_fields', :locals => { :f => builder, :event => @event } %>
  <% end %>
  
  <p>
    <%= f.label :service_ids, "This event affects the following applications" %>
    <%= f.collection_select :service_ids, Service.order(:name), :id, :name, {}, {multiple: true, style: "width:60%"} %>
  </p>
  
  <br />
  
  <div class="actions">
    <%= f.submit :class => 'btn btn-success' %>
    <%= link_to "Cancel", :back, :class => 'btn' %>
  </div>
  
<% end %>