<div class="unresolved_event row">
  <div class="span4">
    <%= status_for(unresolved_event.status, "small") %>
    <%= render :partial => "events/resolve_link", :locals => { :event => unresolved_event } %>
  </div>
  <div class="span8">
    <div class="problem">
      <h3> 
        <%= sites_affected_by unresolved_event %>
      </h3>
      <p>
        Duration: <%= distance_of_time_in_words(unresolved_event.duration) %>
      <p class="muted">
        <%= problem_for unresolved_event %>
      </p>
      <p>
        <%= markdown unresolved_event.problem.description %>
      </p>
      <div class="actions">
        <ul>
          <li><%= pluralize unresolved_event.problem.comments.count, "comment" %></li>
          <li><%= link_to 'View this event', unresolved_event %></li>
        </ul>
      </div>
    </div>
  </div>
</div>