<div class="span12">
  <div id="event">
    <% if @event.resolved? %>
      <div id="event_resolved-large">
        <%= resolution_for @event %>
      </div>
    <% end %>
      
    <div class="event_status-large <%= @event.status.value %>">
      <%= @event.status.value %>
    </div>
    
    <div id="event_body">
      <p> 
        <%= services_affected_by @event %>
      </p>
      
      <div id="problem">
        <h3>Problem</h3>
        <p>
          <%= problem_for @event %>
        </p>
        <div class="description">
          <%= @event.problem.description %>
        </div>
        <div class="actions">
          <%= link_to 'Edit this event', edit_event_path(@event), :class => 'nav small' %>
          <%= link_to 'Destroy', event_path(@event), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "nav small danger" %>
        </div>
      </div>    
        
      <% if @event.resolved? %>
        <div id="resolution">
          <h3>Resolution</h4>
          <p>
            <%= resolution_for @event %>
          </p>
          <p class="description">
            <%= @event.resolution.description %>
          </p>
          <div class="actions">
            <%= link_to 'Edit Resolution', edit_event_resolution_path(@event), :class => 'nav small' %>
            <%= link_to 'Destroy', event_resolution_path(@event), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "nav small danger" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% unless @event.resolved? %>
    <div class="actions link-large">
      <%= link_to 'Mark As Resolved', new_event_resolution_path(@event), :class => "btn" %>
    </div>
  <% end %>
  
</div>