<div class="event">
  <div class="rounded_border">
    <% if @event.closed? %>
      <div id="event_closed">
        This issue was marked as resolved at <%= @event.closed_at %> by User
      </div>
    <% end %>
    <div class="event_status <%= @event.status.downcase %>">
      <%= @event.status %>
    </div>
    <div class="event_description">
      <p><%= time_ago_in_words(@event.created_at).capitalize %> ago, a user reported:</p>
      <p><%= @event.description %></p>
    </div>
    </div>
  <div class="event_services">
    <p> 
      <%= services_affected_by @event %>
    </p>
  </div>
  <div class="event_links">
    <p><%= link_to 'Edit this event', edit_event_path(@event) %></p>
    <% unless @event.closed? %>
      <br />
      <p><%= link_to 'Mark As Resolved', close_event_path(@event), :method => :post, :class => "btn" %></p>
    <% end %>
  </div>
</div>