<div class="event">
  <div class="rounded_border">
    <% if @event.closed? %>
      <div id="event_closed">
        This issue was marked as resolved on <%= @event.closed_at.strftime("%b%e, %Y at %l:%M %p") %> by <%= link_to @event.resolution.user.username, @event.resolution.user %>
      </div>
    <% end %>
    <div class="event_status <%= @event.status.downcase %>">
      <%= @event.status %>
    </div>
    <p class="subtle">Reported by <%= link_to @event.user.username, @event.user, :class => 'link-large' %> on <%= @event.start_time.strftime("%b%e, %Y at %l:%M %p") %> ( <%= time_ago_in_words(@event.start_time).capitalize %> ago )</p>
    <p> 
      <%= services_affected_by @event %>
    </p>
    <h3>Problem</h3>
    <p><%= @event.description %></p>
    <p class="centered">
      <%= link_to 'Edit this event', edit_event_path(@event), :class => "link-small" %>
      <%= link_to 'Destroy', @event, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "link-small danger" %>
    </p>
    <% if @event.closed? %>
      <h3>Resolution</h4>
      <p class="subtle">Resolved by <%= link_to @event.resolution.user.username, @event.resolution.user, :class => "link-large" %> on <%= @event.closed_at.strftime("%b%e, %Y at %l:%M %p") %> ( <%= time_ago_in_words(@event.closed_at).capitalize %> ago )</p>
      <p><%= @event.resolution.description %></p>
      <p class="centered">
        <%= link_to 'Edit Resolution', edit_event_resolution_path(@event), :class => "link-small" %>
        <%= link_to 'Destroy', event_resolution_path(@event), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "link-small danger" %>
      </p>
    <% end %>
  </div>
  <div>
    <% unless @event.closed? %>
      <br />
      <p class="centered"><%= link_to 'Mark As Resolved', new_event_resolution_path(@event), :class => "btn" %></p>
    <% end %>
  </div>
</div>