<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
        chart: { renderTo: 'events_chart' },
        title: { text: '' },
        xAxis: { type: 'datetime' },
        yAxis: {
          title: { text: 'Event Count' },
          min: 0,
          tickInterval: 1
        },
        series:[
            {
                name: "All Events",
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= @start_date.to_time.to_i * 1000 %>,
                pointEnd: <%= @end_date.to_time.to_i * 1000 %>,
                data: <%= (@start_date..@end_date).map { |date| Event.reported_on(date).count}.inspect %>
            },
              <% Event.status_hash.each do |name, event| %>
            {
              name: "<%= name %>",
              pointInterval: <%= 1.day * 1000 %>,
              pointStart: <%= @start_date.to_time.to_i * 1000 %>,
              pointEnd: <%= @end_date.to_time.to_i * 1000 %>,
              data: <%= (@start_date..@end_date).map { |date| event.reported_on(date).count}.inspect %>
            },
            <% end %>]
          });
        });
</script>

<h3>Events Chart</h3>
<div class="row">
  <div class="span12">
    <div id="events_chart" class="span12 well"></div>
  </div>
</div>

<div class="span12 well">
  <%= form_tag charts_events_path, :class => 'form-horizontal', :method => 'get' do %>
    <p>
      <%= text_field_tag :start_date, params[:start_date], :placeholder => "Start Date" %>
    </p>
    <p>
      <%= text_field_tag :end_date, params[:end_date], :placeholder => "End Date" %>
    </p>
    <p>
      <%= submit_tag "Generate Chart", :name => nil, :class => 'btn btn-primary' %>
    </p
  <% end %>
</div>