<div class="span12">
  <!-- <h1>Reported Problems</h1> -->
    
  <% if @unresolved_events.empty? %>
  
    <div id="event">
      <h2>Currently, there are no problems reported</h2>     
      <% unless Event.all.empty? %>
        <h4 class="green">
          ( It's been <%= time_ago_in_words(Event.last.resolution.resolved_at) %> since the last reported problem )
        </h4>
      <% end %>
    </div>
    
  <% else %>
  
    <% @unresolved_events.each do |event| %>
      <div id="event">
        <div class="event_status-large" style="background-color:<%= event.status.background_color %>;color:<%= event.status.foreground_color %>">
          <%= event.status.value.capitalize %>
        </div>
        <div class="description">
          <p class="subtle"> 
            <%= services_affected_by event %>
          </p>
          <p class="subtle">
            <%= problem_for event %>
          </p>
          <%= markdown event.problem.description %>
        </div>
        <div class="actions">
          <%= link_to 'View this event', event, :class => "nav small" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if logged_in? %>
  <div class="span4 offset4">
    <div id="report_a_problem">
      <%= link_to "Report a problem", new_event_path %>
    </div>
  </div>
<% end %>