<div class="span10 offset1">
  <%= form_for @resolution, :url => event_resolution_path, :html => { :class => "well" } do |f| %>
    <p>
      <%= f.label :resolved_at_text, "When did this get resolved?" %> 
      <%= f.text_field :resolved_at_text, :value => ( @resolution.new_record? ? Time.zone.now.strftime("%b %e, %Y at %l:%M %p") : @resolution.resolved_at.strftime("%b %e, %Y at %l:%M %p") ) %>
    </p>
    <p class="hint centered">
      ( ex: "Today at 9 AM", "January 1st, 1970", "2 days ago at noon" )
    </p>
    <p>
      <%= f.label :description, "How was this problem resolved?" %>
      <%= f.text_area :description, :class => "span8", :rows => 5 %>
    </p>
    <p>
      <%= f.submit ( @resolution.new_record? ? "Mark as resolved" : "Update resolution" ), :class => "btn" %>
    </p>
  <% end %>
</div>