<hr>

<h2>Resolution</h2>
  
<%= render partial: "resolutions/resolved_by", locals: { event: @event } %>

<p><%= markdown @event.resolution.description %></p>

<div class="actions">
  <ul>

    <% if allow? "resolutions", "edit", @event.resolution %>
      <li><%= link_to 'Edit Resolution', edit_event_resolution_path(@event, @event.resolution) %></li>
    <% end %>

    <% if allow? "resolutions", "destroy", @event.resolution %>
      <li>
        <%= link_to 'Delete Resolution', event_resolution_path(@event, @event.resolution), method: :delete, 
        data: { confirm: "Are you sure?" }, class: "danger" %>
      </li>
    <% end %>

  </ul>
</div>

<%= render partial: "comments/comments", locals: { commentable: @event.resolution } %>
