<h3>Resolution</h3>
  
<p>
  Resolved by <%= link_to @event.resolved_by.username, @event.resolved_by %> 
  on <%= long_date @event.resolution.resolved_at %>
</p>

<p><%= time_ago_in_words(@event.resolution.resolved_at).capitalize %> ago</p>

<p><%= markdown @event.resolution.description %></p>

<div class="actions">
  <ul>

    <% if allow? "resolutions", "edit", @event.resolution %>
      <li><%= link_to edit_event_resolution_path(@event, @event.resolution) %></li>
    <% end %>

    <% if allow? "resolutions", "destroy", @event.resolution %>
      <li>
        <%= link_to @event.resolution, method: :delete, 
        data: { confirm: "Are you sure?" }, class: "danger" %>
      </li>
    <% end %>

  </ul>
</div>

<%= render partial: "comments/comments", locals: { commentable: @event.resolution } %>
