<%= div_for @event, :class => "row" do %>
  <div id="problem_description" class="span4">
    <%= status_for(@event.status, "small") %>
    <%= resolution_for(@resolution, "small") if @event.resolved? %>
    <%= div_for @event.problem do %>
      <h3>Problem Description</h3>
      <p class="muted"><%= problem_for @event %></p>
      <p><%= markdown @event.problem.description %></p>
    <% end %>
  </div>
  <div class="span8">
    <% if @event.services.any? %>
      <div class="problem">
        <h3><%= services_affected_by @event %></h3>
      </div>
      <br />
    <% end %>
    <div id="resolution" class="form">
      <h1>New Resolution</h1>
      <%= render 'form' %>
    </div>
  </div>
<% end %>