<div id="subscription_service_<%= service_id %>" class="subscription">
  <%= form_for Subscription.new, :html => { :class => 'inline' }, :remote => true do |f| %>
    <%= f.hidden_field :service_id, :value => service_id %>
    <%= f.hidden_field :user_id, :value  => current_user.id %>
    <%= f.submit "Subscribe", :class => "btn btn-large btn-success" %>
  <% end %>
</div>