<h1>Database List</h1>
<h4 class="admin"><%= link_to 'Create a new database', new_database_path %></h4>
<br />

<%= render partial: "simple_search", locals: { path: databases_path } %>

<table class="table table-bordered table-hover">
  <tr>
    <th>Database Name</th>
    <th>Server Name</th>
    <th>Sites</th>
    <th class="admin"></th>
    <th class="admin"></th>
  </tr>

<% @databases.each do |database| %>
  <% cache database do %>
    <tr>
      <td><%= link_to database.name, database %></td>
      <td>
        <% if database.database_server %>
          <%= link_to database.database_server.name, database.database_server %></td>
        <% end %>
      </td>
      <td><%= list_for database.sites %></td>
      <td class="admin"><%= link_to 'Edit', edit_database_path(database) %></td>
      <td class="admin"><%= link_to 'Delete', database, method: :delete, data: { confirm: 'Are you sure?' }, :class => "danger" %></td>
    </tr>
  <% end %>
<% end %>
</table>

<%= will_paginate @databases %>