<%= form_for @completion do |f| %>

  <div class="field">
    Completed on <%= Time.zone.now.strftime('%b %e, %Y at %l:%M %p') %>
  </div>
  <%= f.hidden_field :task_id, :value => params[:task_id] %>
  
  <div class="field">
    <%= f.text_area :description, :rows => 5, :placeholder => "Please enter a description" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Submit", :class => 'btn' %>
  </div>
  
<% end %>