<div class="field">
  <%= f.label :name, "Server Name" %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :deployed_at_text, "Deployed at" %>
  <%= f.text_field :deployed_at_text, value: 
      long_date(server.new_record? ? Time.zone.now : server.deployed_at) %> 
</div>

<div class="field">
  <%= f.label :server_type_id, "Server Type" %>
  <%= f.collection_select :server_type_id, ServerType.order(:value), :id, :value %>
</div>

<div class="field">
  <%= f.label :server_location_id, "Server Location" %>
  <%= f.collection_select :server_location_id, ServerLocation.order(:name), :id, :name, :include_blank => true %>
</div>

<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description, :rows => 5 %>
</div>

<div class="field">
  <%= f.label :public_ip_address, "Public IP Address" %>
  <%= f.text_field :public_ip_address %>
</div>

<fieldset>
  <%= f.label :ip_addresses, "Additional IP Addresses" %>
  <%= f.fields_for :ip_addresses do |builder| %>
    <%= render 'ip_address_fields', { :f => builder } %>
  <% end %>
  <%= link_to_add_fields "Add an IP Address", f, :ip_addresses %>
</fieldset>