<h1><%= server.name %></h1>
<h3><%= server.role_name %> - Deployed <%= short_date server.deployed_at %></h3>
<h4>
  <%= server.server_type.value.titlecase unless server.server_type.nil? %>
  <% if server.server_location %>
    - <%= link_to(server.server_location.name, server.server_location) %>
  <% end %>
</h4>
<div class="admin actions">
  <ul>
    <li><%= link_to 'Edit', server.edit_route_path %></li>
    <li>
      <%= link_to 'Delete', server, method: :delete, data: { confirm: "Are you sure?" }, 
      class: "danger" %>
    </li>
  </ul>
</div>
<hr>

<h3>Server Details</h3>

<h4>Networks</h4>
<%= render 'ip_addresses', { server: server } %>
<br />

<h4>Server Description</h4>
<p><%= server.description.blank? ? "No description provided" : markdown(server.description) %></p>
<br />
