<%= error_messages_for @site %>

<%= form_for @site, :html => { :class => "well" } do |f| %>
  
  <div class="field">
    <%= f.label :name, "Site Name" %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :description, "Site Description" %>
    <%= f.text_area :description, :rows => 5 %>
  </div>
  
  <fieldset>
    <%= f.label :urls, "URLs" %>
    <%= f.fields_for :urls do |builder| %>
      <%= render 'url_fields', :f => builder %>
    <% end %>
    <%= link_to_add_fields "Add a URL", f, :urls %>
  </fieldset>
  
  <br />
  
  <div class="field">
    <%= f.label :application_server_ids, "Application Servers" %>
    <%= f.collection_select :application_server_ids, ApplicationServer.order(:name), :id, :name, {}, {multiple: true} %>
  </div>
  
  <div class="field">
    <%= f.label :database_ids, "Databases" %>
    <%= f.collection_select :database_ids, Database.order(:name), :id, :name, {}, {multiple: true} %>
  </div>
  
  <div class="field">
    <%= f.label :user_ids, "Subscribers" %>
    <%= f.collection_select :user_ids, User.order(:username), :id, :username, {}, {multiple: true} %>
  </div>
  
  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
  
<% end %>