<tr>
  <td><%= link_to site.name, site %></td>
  <td>
    <% unless site.site_environment.nil? %>
      <%= site.site_environment.name %>
    <% end %>
  </td>
  <td><%= urls_for site %></td> 
  <td><%= site.uptime %>%</td>
  <td>
    <% if current_user.is_subscribed_to? site %>
      <%= render "subscriptions/unsubscribe", :site_id => site.id %>
    <% else %>
      <%= render "subscriptions/subscribe", :site_id => site.id %>
    <% end %>
  </td>
  <td class="admin"><%= link_to 'Edit', edit_site_path(site), :class => "small" %></td>
  <td class="admin"><%= link_to 'Delete', site, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger small" %></td>
</tr>
