<h1><%= @site.name %></h1>
<h4 class="muted">Website</h4>
<div class="admin actions">
  <ul>
    <li><%= link_to 'Edit', edit_site_path(@site) %></li>
    <li><%= link_to 'Delete', @site, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger" %></li>
  </ul>
</div>

<hr>
<h4 class="muted">Site Details</h4>

<div class="field">
  <p><strong>URLs</strong></p>
  <p><%= urls_for @site %></p>
</div>

<div class="field">
  <p><strong>Application Servers</strong></p>
  <p><%= application_servers_for @site %></p>
</div>

<div class="field">
  <p><strong>Databases</strong></p>
  <p><%= databases_for @site %></p>
</div>

<div class="field">
  <p><strong>Subscribers</strong></p>
  <p><%= subscribers_for @site %></p>
</div>

<br />

<hr>

<h4 class="muted">Events For This Site</h4>

<div id="events">
  <% if @events.any? %>
    <%= render @events %>
  <% else %>
    <p>Nothing to show</p>
  <% end %>
</div>

<%= will_paginate @events %>