<!DOCTYPE html>
<html>
<head>
  <title>Uptime</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="header span12">
        <%= link_to 'uptime', root_path, :class => 'logo' %>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
    <div class="row">
      <div class="span6 offset3">
        <div id="links">
          <%= link_to "View Past Issues", events_path, :class => 'link' %>
          <%= link_to "Applications and Services", services_path, :class => 'link' %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
